// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// breakpoints
$xlg-desktop : 1440px;
$lg-desktop : 1280px;
$desktop : 1024px;
$tablet : 768px;
$mobile : 320px;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

$doctor: #f9f9fa;
$bai-se-white: #eceeee;
$yin-bai-silver: #dfe1e2;
$bluish-lilac-purple: #d0d4d5;
$foil: #c0c5c6;
$astroscopus-grey: #aeb4b6;
$prehistoric-stone: #99a1a3;
$necron-compound: #818b8e;
$american-river: #626e72;
$big-stone: #354144;
$everlasting-ice: #f6fafb;
$morning-mist: #e3f0f3;
$ivalo-river: #cee5ea;
$everglade-mist: #b8d9e0;
$regent-st-blue: #9fcbd5;
$aftercare: #83bcc9;
$ocean-trip: #62aaba;
$water-welt: #3994a8;
$biscay-bay: #08768e;
$midnight-green: #054654;
$dr-white: #f8f9fc;
$coconut-white: #eaeef6;
$timid-blue: #dae1ef;
$english-channel-fog: #cad3e8;
$etherium-blue: #b7c4e0;
$calm-interlude: #a3b3d7;
$anode: #8ba0cc;
$orbital: #6f89c0;
$azraq-blue: #4a6ab0;
$smalt: #0c3795;
$dr-white: #faf9fc;
$bright-dusk: #eeecf7;
$lingering-lilac: #e2dff1;
$early-dog-violet: #d4d0ea;
$purple-dragon: #c6bfe3;
$wild-orchid-blue: #b6addb;
$wistful: #a398d2;
$faraway-sky: #8c7fc7;
$ultra-violet: #6f5fb9;
$purple-cabbage: #3d27a1;
$dr-white: #fbf9fc;
$perfume-haze: #f3ebf6;
$lingering-lilac: #eadcf0;
$recuperate: #e0cce9;
$plum-point: #d5bbe1;
$darling-lilac: #c9a7d9;
$pale-purple: #bb90cf;
$wisteria: #aa74c2;
$purpureus: #934fb2;
$sql-injection-purple: #650891;
$dr-white: #fcf8fb;
$cherry-pearl: #f6eaf4;
$divine-dove: #efdbec;
$sweety-pie: #e8cae3;
$french-lilac: #e0b8d9;
$berry-popsicle: #d7a3cd;
$pomtini: #cc8bc0;
$young-purple: #bf6cb0;
$aged-purple: #ac4299;
$liche-purple: #770763;
$dr-white: #fcf8fa;
$line-dried-sheets: #f6ebee;
$piggyback: #f0dce2;
$queen-pink: #e9ccd5;
$love-in-a-mist: #e1bac6;
$pink-nectar: #d8a5b5;
$pinch-me: #ce8ea2;
$mauve-seductress: #c1718a;
$lickedy-lick: #b0496a;
$bordeaux: #81072e;
$cool-december: #fcf9f8;
$pampered-princess: #f5ebe9;
$apricot-foam: #eeddd9;
$silver-peony: #e7cdc8;
$sweet-peach: #dfbcb5;
$mellow-rose: #d5a99f;
$mexican-moonlight: #ca9286;
$doner-kebab: #bd7768;
$hot-sauce: #ab523e;
$new-kenyan-copper: #7b1c07;
$unbleached: #fbf9f6;
$blanc-casse: #f2ede2;
$dry-bone: #e9e0cd;
$spanish-white: #dfd2b5;
$gold-wash: #d4c29c;
$desert-floor: #c7b180;
$eaton-gold: #b99c5f;
$porchetta-crust: #a78437;
$muddy-brown: #8f6408;
$pineapple: #543b05;
$whitest-white: #f9faf4;
$memoir: #ecf0dc;
$loch-modan-moss: #dee4c2;
$trailing-vine: #cfd8a5;
$apple-ii-beige: #beca86;
$beach-bag: #abbb63;
$pickled-cucumber: #95a93a;
$mossy-woods: #7a9308;
$olive-green: #607406;
$dark-olive: #384404;
$whitest-white: #f7fbf5;
$lower-lime: #e5f1df;
$tactile: #d2e7c8;
$bowling-green: #bddcaf;
$chenille: #a6cf92;
$applegate: #8bc172;
$pure-apple: #6cb14c;
$grass-green: #449c1c;
$napier-green: #2c7c07;
$forest-green: #1a4904;
$white-porcelain: #f5fbf6;
$frosted-mint: #e1f2e4;
$applemint: #cbe8d0;
$fringy-flower: #b2ddba;
$mover-shaker: #97d1a1;
$serengeti-green: #77c485;
$forest-maid: #52b363;
$get-up-and-go: #219e37;
$azure-radiance: #077e1c;
$british-racing-green: #044a11;
$everlasting-ice: #f5fbf9;
$clear-day: #e0f1ec;
$light-short-phase: #c9e7de;
$brook-green: #b0dcce;
$wintermint: #93d0bd;
$t-bird-turquoise: #73c2a9;
$hole-in-one: #4cb191;
$biel-tan-green: #1b9b73;
$ivy-league: #077b56;
$up-forest-green: #044933;