/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
span,
applet,
object,
iframe,
h2,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
button {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}
b,
strong {
  font-weight: 700;
}
button {
  font-size: 100%;
}
a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
button,
input,
select,
textarea,
optgroup {
  font-family: inherit;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
ol,
ul {
  list-style: none;
}
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
/** fluid-typography breaks down like this:
* 320px (min)
* 1440px (max)
* 16px (base)
* min-font
* max-font
* fallback font size
*/
h1,
.header1 {
  color: black;
  line-height: 1.2;
  margin-top: 0;
  margin-bottom: 0.5em;
  font-size: 1.6rem;
}
@media screen and (min-width: 20rem) {
  h1,
  .header1 {
    /* stylelint-disable */
    font-size: 1.75rem;
    font-size: calc(1.6rem  +  0.4  * ((100vw -  20rem ) / 70 ));
    /* stylelint-enable */
  }
}
@media screen and (min-width: 90rem) {
  h1,
  .header1 {
    font-size: 2rem;
  }
}
h2,
.header2 {
  color: black;
  line-height: 1.2;
  margin-top: 0;
  margin-bottom: 0.5em;
  font-size: 1.3rem;
}
@media screen and (min-width: 20rem) {
  h2,
  .header2 {
    /* stylelint-disable */
    font-size: 1.4rem;
    font-size: calc(1.3rem  +  0.2  * ((100vw -  20rem ) / 70 ));
    /* stylelint-enable */
  }
}
@media screen and (min-width: 90rem) {
  h2,
  .header2 {
    font-size: 1.5rem;
  }
}
h3,
.header3 {
  color: black;
  line-height: 1.2;
  margin-top: 0;
  margin-bottom: 0.5em;
  font-size: 1.2rem;
}
@media screen and (min-width: 20rem) {
  h3,
  .header3 {
    /* stylelint-disable */
    font-size: 1.3rem;
    font-size: calc(1.2rem  +  0.175  * ((100vw -  20rem ) / 70 ));
    /* stylelint-enable */
  }
}
@media screen and (min-width: 90rem) {
  h3,
  .header3 {
    font-size: 1.375rem;
  }
}
h4,
.header4 {
  color: black;
  line-height: 1.2;
  margin-top: 0;
  margin-bottom: 0.5em;
  font-size: 1rem;
}
@media screen and (min-width: 20rem) {
  h4,
  .header4 {
    /* stylelint-disable */
    font-size: 1rem;
    font-size: calc(1rem  +  0.25  * ((100vw -  20rem ) / 70 ));
    /* stylelint-enable */
  }
}
@media screen and (min-width: 90rem) {
  h4,
  .header4 {
    font-size: 1.25rem;
  }
}
h5,
.header5 {
  color: black;
  line-height: 1.5;
  margin-top: 0;
  margin-bottom: 0.5em;
  font-size: 1rem;
}
h6,
.header6 {
  color: black;
  line-height: 1.5;
  margin-top: 0;
  margin-bottom: 0.5em;
  font-size: 1rem;
}
p,
label {
  color: black;
  line-height: 1.5;
  margin-bottom: 0.5em;
  margin-top: 0;
  font-size: 1rem;
}
p.bodySM,
label.bodySM {
  font-size: 0.875rem;
}
p.bodyLight,
label.bodyLight {
  color: gray;
}
a {
  color: #e0f1ec;
  text-decoration: none;
}
.textCenter {
  text-align: center;
}
.fpo {
  background-color: black;
  text-align: center;
  padding: 0.9375rem;
  margin: 0.9375rem 0rem 0.9375rem 0rem;
}
.a11yOutline {
  outline: solid 2px #e0f1ec;
  outline-offset: -2px;
}
/**
 * @font-face LESS Mixin
 * use: .font-fa *   @file-path,   // absolute/relative URL to font files
 *   @font-weight, // 400/700
 *   @font-style   // italic/normal/inherit
 * )
 */
/**
 * Media LESS Mixin
 * use: .media(
 *   @breakpoint, // Breakpoint Value
 *   @rules,   // Nested Rule Set for the media breakpoint
 * )
 */
.landingWrap {
  display: grid;
}
.card {
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05) !important;
  border-radius: 0.25rem !important;
  max-width: 24rem!important;
}
body {
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1em;
  line-height: 1.5;
  background: #626e72;
}
.content {
  margin: 0 auto;
  padding: 1.25rem 0.9375rem 1.25rem 0.9375rem;
}
@media only screen and (min-width: 1280px) {
  .content {
    width: 1280px;
  }
}
