/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
span,
applet,
object,
iframe,
h2,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
button {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}
b,
strong {
  font-weight: 700;
}
button {
  font-size: 100%;
}
a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
button,
input,
select,
textarea,
optgroup {
  font-family: inherit;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
ol,
ul {
  list-style: none;
}
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
/** fluid-typography breaks down like this:
* 320px (min)
* 1440px (max)
* 16px (base)
* min-font
* max-font
* fallback font size
*/
h1,
.header1 {
  color: #25282F;
  line-height: 1.2;
  font-variation-settings: "wght" 700;
  margin-top: 0;
  margin-bottom: 0.5em;
  font-size: 2.5rem;
}
@media screen and (min-width: 20rem) {
  h1,
  .header1 {
    /* stylelint-disable */
    font-size: 1.75rem;
    font-size: calc(2.5rem  +  0.5  * ((100vw -  20rem ) / 70 ));
    /* stylelint-enable */
  }
}
@media screen and (min-width: 90rem) {
  h1,
  .header1 {
    font-size: 3rem;
  }
}
h2,
.header2 {
  color: #25282F;
  line-height: 1.2;
  font-variation-settings: "wght" 700;
  margin-top: 0;
  margin-bottom: 0.5em;
  font-size: 2rem;
}
@media screen and (min-width: 20rem) {
  h2,
  .header2 {
    /* stylelint-disable */
    font-size: 1.4rem;
    font-size: calc(2rem  +  0.441  * ((100vw -  20rem ) / 70 ));
    /* stylelint-enable */
  }
}
@media screen and (min-width: 90rem) {
  h2,
  .header2 {
    font-size: 2.441rem;
  }
}
h3,
.header3 {
  color: #25282F;
  line-height: 1.2;
  font-variation-settings: "wght" 700;
  margin-top: 0;
  margin-bottom: 0.5em;
  font-size: 1.2rem;
}
@media screen and (min-width: 20rem) {
  h3,
  .header3 {
    /* stylelint-disable */
    font-size: 1.3rem;
    font-size: calc(1.2rem  +  0.753  * ((100vw -  20rem ) / 70 ));
    /* stylelint-enable */
  }
}
@media screen and (min-width: 90rem) {
  h3,
  .header3 {
    font-size: 1.953rem;
  }
}
h4,
.header4 {
  color: #25282F;
  line-height: 1.2;
  font-variation-settings: "wght" 700;
  margin-top: 0;
  margin-bottom: 0.5em;
  font-size: 1rem;
}
@media screen and (min-width: 20rem) {
  h4,
  .header4 {
    /* stylelint-disable */
    font-size: 1rem;
    font-size: calc(1rem  +  0.563  * ((100vw -  20rem ) / 70 ));
    /* stylelint-enable */
  }
}
@media screen and (min-width: 90rem) {
  h4,
  .header4 {
    font-size: 1.563rem;
  }
}
h5,
.header5 {
  color: #25282F;
  line-height: 1.5;
  margin-top: 0;
  margin-bottom: 0.5em;
  font-size: 1rem;
}
h6,
.header6 {
  color: #25282F;
  line-height: 1.5;
  margin-top: 0;
  margin-bottom: 0.5em;
  font-size: 1rem;
}
p,
label {
  color: #25282F;
  line-height: 1.5;
  margin-bottom: 0.5em;
  margin-top: 0;
  font-size: 1rem;
}
p.bodySM,
label.bodySM {
  font-size: 0.875rem;
}
p.bodyLight,
label.bodyLight {
  color: hsl(240, 4%, 75%);
}
a {
  color: hsl(224, 90%, 53%);
  text-decoration: none;
}
a:hover,
a:focus,
a:active {
  color: hsl(224, 90%, 43%);
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}
.text-center {
  text-align: center;
}
@font-face {
  font-family: 'Source Sans Variable';
  font-weight: 200 900;
  font-style: normal;
  font-stretch: normal;
  font-display: swap;
  src: url('/storage/WOFF2/VAR/SourceSansVariable-Roman.ttf.woff2') format('woff2'), url('/storage/WOFF/VAR/SourceSansVariable-Roman.ttf.woff') format('woff'), url('/storage/VAR/SourceSansVariable-Roman.ttf') format('truetype');
}
@font-face {
  font-family: 'Source Sans Variable Italic';
  font-weight: 200 900;
  font-style: italic;
  font-stretch: normal;
  font-display: swap;
  src: url('/storage/WOFF2/VAR/SourceSansVariable-Italic.ttf.woff2') format('woff2'), url('/storage/WOFF/VAR/SourceSansVariable-Italic.ttf.woff') format('woff'), url('/storage/VAR/SourceSansVariable-Italic.ttf') format('truetype');
}
.fpo {
  background-color: black;
  text-align: center;
  padding: 0.9375rem;
  margin: 0.9375rem 0rem 0.9375rem 0rem;
}
.a11yOutline {
  outline: 0;
  box-shadow: 0 0 0 1pt hsl(224, 90%, 53%);
}
.screenReaderLabel {
  font-size: 0;
  height: 1px;
  overflow: hidden;
  display: block;
}
/**
 * @font-face LESS Mixin
 * use: .font-fa *   @file-path,   // absolute/relative URL to font files
 *   @font-weight, // 400/700
 *   @font-style   // italic/normal/inherit
 * )
 */
/**
 * Media LESS Mixin
 * use: .media(
 *   @breakpoint, // Breakpoint Value
 *   @rules,   // Nested Rule Set for the media breakpoint
 * )
 */
.mg-btm-xs {
  margin-bottom: 0.5rem;
}
.mg-btm-sm {
  margin-bottom: 0.75rem;
}
.mg-btm-md {
  margin-bottom: 1.25rem;
}
.mg-btm-lg {
  margin-bottom: 2rem;
}
.mg-btm-xl {
  margin-bottom: 3.25rem;
}
.mg-top-xs {
  margin-top: 0.5rem;
}
.mg-top-sm {
  margin-top: 0.75rem;
}
.mg-top-md {
  margin-top: 1.25rem;
}
.mg-top-lg {
  margin-top: 2rem;
}
.mg-top-xl {
  margin-top: 3.25rem;
}
.text-white {
  color: hsl(0, 0%, 100%);
}
.text-dark {
  color: hsl(240, 7%, 9%);
}
.sidebar-nav.open {
  transition: visibility 160ms ease-in-out 100ms, width 160ms ease-in-out 0s;
}
.sidebar-nav.closed {
  transition: visibility 160ms ease-in-out 0s, width 160ms ease-in-out 10ms;
}
.app-wrapper {
  display: grid;
  grid-template: "aside" 60px "content" auto "footer" auto / auto;
}
.app-wrapper aside {
  grid-area: aside;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding-left: 1rem;
  z-index: 2;
  display: flex;
  align-items: center;
  background: #32333D;
}
.app-wrapper .logo {
  color: hsl(0, 0%, 100%);
  text-transform: uppercase;
  margin-left: 2rem;
  font-weight: 700;
}
.app-wrapper .logo.mini {
  display: none;
}
.app-wrapper .sidebar-nav {
  background: #32333D;
  color: hsl(0, 0%, 100%);
  padding: 2rem 1rem;
  top: 0;
  bottom: 0;
  min-height: 100vh;
  position: fixed;
  width: 300px;
  left: -300px;
  top: 60px;
  z-index: 2;
}
.app-wrapper .sidebar-nav.open {
  transform: translateX(300px);
}
.app-wrapper .sidebar-nav .sidebar-nav-list li {
  margin-bottom: 1rem;
}
.app-wrapper .sidebar-nav .sidebar-nav-list figure {
  margin-right: 1rem;
}
.app-wrapper .sidebar-nav .sidebar-nav-list .item-wrap {
  color: hsl(0, 0%, 100%);
  display: flex;
  align-items: center;
}
.app-wrapper .sidebar-nav .profile-wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 2rem;
  font-size: 0.875rem;
}
.app-wrapper .sidebar-nav .profile-wrap div {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
  flex: 1 1 75%;
}
.app-wrapper .sidebar-nav .profile-wrap .profile-pic {
  border-radius: 8px;
  flex: 0 0 42px;
}
.app-wrapper .app-content {
  grid-area: content;
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
}
.app-wrapper footer {
  grid-area: footer;
  background-color: #25282F;
  padding: 1rem 1rem 0.5rem 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 0.875rem;
}
.app-wrapper footer p,
.app-wrapper footer a {
  color: hsl(0, 0%, 100%);
  font-size: 0.875rem;
}
.app-wrapper footer ul {
  display: flex;
}
.app-wrapper footer ul li {
  margin-right: 1rem;
}
@media only screen and (min-width: 768px) {
  .app-wrapper {
    grid-template: "aside ." 60px "sidebar content" auto "sidebar footer" auto / auto 9fr;
  }
  .app-wrapper aside {
    position: relative;
  }
  .app-wrapper .sidebar-nav {
    grid-area: sidebar;
    position: unset;
    left: 0;
    top: 0;
  }
  .app-wrapper .sidebar-nav.open {
    grid-area: sidebar;
    transform: none;
    width: 300px;
  }
  .app-wrapper .sidebar-nav.closed {
    width: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .app-wrapper .sidebar-nav.closed .sidebar-nav-list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .app-wrapper .sidebar-nav.closed .sidebar-nav-list figure {
    margin-right: 0;
  }
  .app-wrapper .sidebar-nav.closed .sidebar-nav-list span {
    visibility: hidden;
    width: 0;
  }
  .app-wrapper .sidebar-nav.closed .profile-wrap {
    display: block;
  }
  .app-wrapper .sidebar-nav.closed .profile-wrap .profile-pic {
    max-width: 42px;
  }
  .app-wrapper .sidebar-nav.closed .profile-wrap .profile-name {
    display: none;
  }
  .app-wrapper .app-content {
    border-radius: 30px 0 0 0;
  }
}
.landingWrap {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  grid-gap: 2rem;
}
.landingWrap .card {
  grid-column: 1/5;
  background-color: hsl(224, 90%, 45%);
}
.landingWrap .form-wrap {
  background-color: hsl(0, 0%, 100%);
  border-radius: 4px;
}
.landingWrap .bottom-links {
  display: flex;
  justify-content: space-between;
}
.landingWrapSingle {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  grid-gap: 2rem;
}
.landingWrapSingle .card {
  grid-column: 2/4;
  background-color: hsl(0, 0%, 100%);
}
.stock-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
}
.user-account {
  display: grid;
  grid-gap: 2rem;
  grid-template: "headline" auto "photo" auto "fields" auto / 1fr;
}
.user-account h2 {
  grid-area: headline;
}
.user-account .profile-image-edit {
  grid-area: photo;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.user-account .image-edit-button {
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
}
.user-account .edit-profile {
  grid-area: fields;
}
@media only screen and (min-width: 768px) {
  .user-account {
    grid-template: "headline headline" auto "photo photo" auto "fields ." auto / 1fr 1fr;
  }
}
.card {
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  position: relative;
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
  background: hsl(0, 0%, 100%);
  padding: 1rem;
}
.card h1,
.card h2,
.card h3,
.card h4,
.card h5,
.card h6,
.card p,
.card label {
  color: hsl(240, 7%, 9%);
}
.card.duo {
  display: grid;
  grid-template-columns: 1fr;
  padding: 0;
}
.card.duo > div {
  padding: 1rem;
}
.card.dark {
  background: #32333D;
}
.card.deep {
  padding: 2rem;
}
@media only screen and (min-width: 768px) {
  .card.deep {
    padding: 2.625rem;
  }
  .card.duo {
    grid-template-columns: 1fr 1fr;
  }
  .card.duo > div {
    padding: 2rem;
  }
}
@media only screen and (min-width: 1024px) {
  .card.duo {
    grid-template-columns: auto 0.75fr;
  }
}
.button-base {
  background-color: hsl(0, 0%, 100%);
  border: 1px solid transparent;
  border-radius: 4px;
  color: hsl(0, 0%, 0%);
  min-height: 2.75rem;
  transition: all 0.2s ease-in-out;
  display: inline-block;
  position: relative;
  cursor: pointer;
  font-size: 1rem;
  padding: 0em 1.25em 0em 1.25em;
}
.button-base:disabled {
  background-color: hsl(240, 4%, 90%);
  border-color: hsl(240, 4%, 90%);
  color: hsl(240, 5%, 30%);
  cursor: default;
}
.button-base:focus {
  outline: 0;
  box-shadow: 0 0 0 1pt hsl(224, 90%, 53%);
}
.button-base.full-width {
  width: 100%;
}
.button-base.small {
  font-size: 0.875rem;
  padding: 0.5em 1.25em 0.5em 1.25em;
}
.button-base.large {
  font-size: 1.25rem;
  padding: 0.75em 1.25em 0.75em 1.25em;
}
.button-base.icon {
  display: flex;
  align-items: center;
}
.button-base.icon figure {
  flex: 0 0 auto;
}
.button-base.icon span {
  flex: 1 1 auto;
}
.button-base.primary {
  background-color: hsl(224, 90%, 53%);
  color: hsl(0, 0%, 100%);
}
.button-base.primary:hover,
.button-base.primary:active {
  background-color: hsl(224, 90%, 43%);
}
.button-base.primary:disabled {
  background-color: hsl(240, 4%, 90%);
  border-color: hsl(240, 4%, 90%);
  color: hsl(240, 5%, 30%);
  cursor: default;
}
.button-base.primary.ghost {
  background-color: transparent;
  border: 1px solid hsl(224, 90%, 53%);
  color: hsl(224, 90%, 53%);
}
.button-base.primary.ghost:hover,
.button-base.primary.ghost:active {
  background-color: hsl(240, 4%, 90%);
}
.button-base.primary.ghost:disabled {
  background-color: hsl(240, 4%, 90%);
  border-color: hsl(240, 4%, 90%);
  color: hsl(240, 5%, 30%);
  cursor: default;
}
.button-base.secondary {
  background-color: hsl(22.5, 95.1%, 40.2%);
  color: hsl(0, 0%, 100%);
}
.button-base.secondary:hover,
.button-base.secondary:active {
  background-color: hsl(22.5, 95.1%, 30.2%);
}
.button-base.secondary:disabled {
  background-color: hsl(240, 4%, 90%);
  border-color: hsl(240, 4%, 90%);
  color: hsl(240, 5%, 30%);
  cursor: default;
}
.button-base.secondary.ghost {
  background-color: transparent;
  border: 1px solid hsl(22.5, 95.1%, 40.2%);
  color: hsl(22.5, 95.1%, 40.2%);
}
.button-base.secondary.ghost:hover,
.button-base.secondary.ghost:active {
  background-color: hsl(240, 4%, 90%);
}
.button-base.secondary.ghost:disabled {
  background-color: hsl(240, 4%, 90%);
  border-color: hsl(240, 4%, 90%);
  color: hsl(240, 5%, 30%);
  cursor: default;
}
.button-base.prepend {
  padding: 0em 1.25em 0em 0em;
  display: inline-flex;
}
.button-base.prepend figure {
  padding: 0.5em;
  margin-right: 1em;
  display: inline-flex;
  height: 2.75rem;
  width: 2.75rem;
  align-items: center;
  justify-content: center;
}
.button-base.prepend figure svg {
  color: hsl(0, 0%, 100%);
}
.button-base.prepend span {
  text-align: center;
}
.button-base.danger {
  background-color: hsl(22.5, 95.1%, 40.2%);
  color: hsl(0, 0%, 0%);
}
.button-base.danger:hover,
.button-base.danger:active {
  background-color: hsl(22.5, 95.1%, 30.2%);
}
.button-base.danger:disabled {
  background-color: hsl(240, 4%, 90%);
  border-color: hsl(240, 4%, 90%);
  color: hsl(240, 5%, 30%);
  cursor: default;
}
.button-base.twitter {
  border: 2px solid hsl(203, 89%, 53%);
  color: hsl(0, 0%, 0%);
  font-weight: 700;
}
.button-base.twitter figure {
  border-right: 1px solid hsl(203, 89%, 53%);
  background-color: hsl(203, 89%, 53%);
}
.button-base.twitter:hover,
.button-base.twitter:active {
  background: hsl(240, 4%, 90%);
}
.button-base.twitter:disabled {
  background-color: hsl(240, 4%, 90%);
  border-color: hsl(240, 4%, 90%);
  color: hsl(240, 5%, 30%);
  cursor: default;
}
.button-base.discord {
  border: 2px solid hsl(227, 58%, 65%);
  color: hsl(0, 0%, 0%);
  font-weight: 700;
}
.button-base.discord figure {
  border-right: 1px solid hsl(227, 58%, 65%);
  background-color: hsl(227, 58%, 65%);
}
.button-base.discord:hover,
.button-base.discord:active {
  background-color: hsl(240, 4%, 90%);
}
.button-base.discord:disabled {
  background-color: hsl(240, 4%, 90%);
  border-color: hsl(240, 4%, 90%);
  color: hsl(240, 5%, 30%);
  cursor: default;
}
.button-base.facebook {
  border: 2px solid #1877f2;
  color: hsl(0, 0%, 0%);
  font-weight: 700;
}
.button-base.facebook figure {
  border-right: 1px solid #1877f2;
  background-color: #1877f2;
}
.button-base.facebook:hover,
.button-base.facebook:active {
  background-color: hsl(240, 4%, 90%);
}
.button-base.facebook:disabled {
  background-color: hsl(240, 4%, 90%);
  border-color: hsl(240, 4%, 90%);
  color: hsl(240, 5%, 30%);
  cursor: default;
}
.button-base.twitch {
  border: 2px solid hsl(264, 100%, 64%);
  color: hsl(0, 0%, 0%);
  font-weight: 700;
}
.button-base.twitch figure {
  border-right: 1px solid hsl(264, 100%, 64%);
  background-color: hsl(264, 100%, 64%);
}
.button-base.twitch:hover,
.button-base.twitch:active {
  background-color: hsl(240, 4%, 90%);
}
.button-base.twitch:disabled {
  background-color: hsl(240, 4%, 90%);
  border-color: hsl(240, 4%, 90%);
  color: hsl(240, 5%, 30%);
  cursor: default;
}
.button-base.toggle {
  background: transparent;
  color: hsl(0, 0%, 100%);
  padding: 0;
  font-size: 2rem;
}
.text-input {
  border: solid 1px hsl(240, 4%, 75%);
  border-radius: 4px;
  color: hsl(240, 7%, 9%);
  font-size: 1rem;
  height: 2.75rem;
  padding: 0 0.625rem;
  width: 100%;
}
.text-input::-webkit-input-placeholder {
  color: hsl(240, 5%, 30%);
  opacity: 1;
}
.text-input::-webkit-input-placeholder,
.text-input::placeholder {
  color: hsl(240, 5%, 30%);
  opacity: 1;
}
.text-input:active,
.text-input:focus {
  outline: 0;
  box-shadow: 0 0 0 1pt hsl(224, 90%, 53%);
}
.text-input.dark {
  background: hsl(240, 4%, 60%);
  color: hsl(0, 0%, 100%);
}
.text-input.is-invalid {
  border: solid 1px transparent;
  outline: solid 2px hsl(22.5, 95.1%, 40.2%);
  outline-offset: -2px;
}
.text-input.is-invalid:invalid {
  box-shadow: none;
}
.text-input:disabled {
  background-color: hsl(240, 4%, 90%);
  border-color: hsl(240, 4%, 90%);
  color: hsl(240, 5%, 30%);
  cursor: not-allowed;
  outline: none;
}
.text-input.inline-width {
  width: inherit;
}
.label {
  font-size: 1rem;
  font-weight: 700;
  color: hsl(240, 7%, 9%);
  margin-bottom: 0.5rem;
  display: inline-block;
}
.label-inline {
  margin-bottom: 0;
  margin-right: 0.5rem;
}
.label-hidden {
  margin-bottom: 0;
  font-size: 0;
  height: 1px;
  overflow: hidden;
  display: block;
}
body {
  color: #25282F;
  font-family: "Source Sans Variable", system-ui, -apple-system, BlinkMacSystemFont, 'seravek', 'segoe ui', 'roboto', sans-serif;
  font-weight: "wght" 400;
  font-size: 1em;
  line-height: 1.5;
  background: hsl(0, 0%, 100%);
}
body.landing {
  background: hsl(224, 90%, 53%);
}
.content {
  margin: 0 auto;
  padding: 1.25rem 1rem 1.25rem 1rem;
}
.app-content-max {
  grid-column: 1/9;
}
@media only screen and (min-width: 1024px) {
  .content {
    width: 1280px;
  }
  .app-content-max {
    grid-column: 2/7;
  }
}
@media only screen and (min-width: 1280px) {
  .content {
    width: 1280px;
  }
}
