/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
span,
applet,
object,
iframe,
h2,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
button {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}
b,
strong {
  font-weight: 700;
}
button {
  font-size: 100%;
}
a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
button,
input,
select,
textarea,
optgroup {
  font-family: inherit;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
ol,
ul {
  list-style: none;
}
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
/** fluid-typography breaks down like this:
* 320px (min)
* 1440px (max)
* 16px (base)
* min-font
* max-font
* fallback font size
*/
h1,
.header1 {
  color: #ffffff;
  line-height: 1.2;
  margin-top: 0;
  margin-bottom: 0.5em;
  font-size: 1.6rem;
}
@media screen and (min-width: 20rem) {
  h1,
  .header1 {
    /* stylelint-disable */
    font-size: 1.75rem;
    font-size: calc(1.6rem  +  0.4  * ((100vw -  20rem ) / 70 ));
    /* stylelint-enable */
  }
}
@media screen and (min-width: 90rem) {
  h1,
  .header1 {
    font-size: 2rem;
  }
}
h2,
.header2 {
  color: #ffffff;
  line-height: 1.2;
  margin-top: 0;
  margin-bottom: 0.5em;
  font-size: 1.3rem;
}
@media screen and (min-width: 20rem) {
  h2,
  .header2 {
    /* stylelint-disable */
    font-size: 1.4rem;
    font-size: calc(1.3rem  +  0.2  * ((100vw -  20rem ) / 70 ));
    /* stylelint-enable */
  }
}
@media screen and (min-width: 90rem) {
  h2,
  .header2 {
    font-size: 1.5rem;
  }
}
h3,
.header3 {
  color: #ffffff;
  line-height: 1.2;
  margin-top: 0;
  margin-bottom: 0.5em;
  font-size: 1.2rem;
}
@media screen and (min-width: 20rem) {
  h3,
  .header3 {
    /* stylelint-disable */
    font-size: 1.3rem;
    font-size: calc(1.2rem  +  0.175  * ((100vw -  20rem ) / 70 ));
    /* stylelint-enable */
  }
}
@media screen and (min-width: 90rem) {
  h3,
  .header3 {
    font-size: 1.375rem;
  }
}
h4,
.header4 {
  color: #ffffff;
  line-height: 1.2;
  margin-top: 0;
  margin-bottom: 0.5em;
  font-size: 1rem;
}
@media screen and (min-width: 20rem) {
  h4,
  .header4 {
    /* stylelint-disable */
    font-size: 1rem;
    font-size: calc(1rem  +  0.25  * ((100vw -  20rem ) / 70 ));
    /* stylelint-enable */
  }
}
@media screen and (min-width: 90rem) {
  h4,
  .header4 {
    font-size: 1.25rem;
  }
}
h5,
.header5 {
  color: #ffffff;
  line-height: 1.5;
  margin-top: 0;
  margin-bottom: 0.5em;
  font-size: 1rem;
}
h6,
.header6 {
  color: #ffffff;
  line-height: 1.5;
  margin-top: 0;
  margin-bottom: 0.5em;
  font-size: 1rem;
}
p,
label {
  color: #ffffff;
  line-height: 1.5;
  margin-bottom: 0.5em;
  margin-top: 0;
  font-size: 1rem;
}
p.bodySM,
label.bodySM {
  font-size: 0.875rem;
}
p.bodyLight,
label.bodyLight {
  color: #BDBDC2;
}
a {
  color: #1A53F3;
  text-decoration: none;
}
a:hover,
a:focus,
a:active {
  color: #0b3ecf;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}
.textCenter {
  text-align: center;
}
.fpo {
  background-color: black;
  text-align: center;
  padding: 0.9375rem;
  margin: 0.9375rem 0rem 0.9375rem 0rem;
}
.a11yOutline {
  outline: solid 2px #1A53F3;
  outline-offset: -2px;
}
/**
 * @font-face LESS Mixin
 * use: .font-fa *   @file-path,   // absolute/relative URL to font files
 *   @font-weight, // 400/700
 *   @font-style   // italic/normal/inherit
 * )
 */
/**
 * Media LESS Mixin
 * use: .media(
 *   @breakpoint, // Breakpoint Value
 *   @rules,   // Nested Rule Set for the media breakpoint
 * )
 */
.mg-btm-xs {
  margin-bottom: 0.5rem;
}
.mg-btm-sm {
  margin-bottom: 0.75rem;
}
.mg-btm-md {
  margin-bottom: 1.25rem;
}
.mg-btm-lg {
  margin-bottom: 2rem;
}
.mg-btm-xl {
  margin-bottom: 3.25rem;
}
.mg-top-xs {
  margin-top: 0.5rem;
}
.mg-top-sm {
  margin-top: 0.75rem;
}
.mg-top-md {
  margin-top: 1.25rem;
}
.mg-top-lg {
  margin-top: 2rem;
}
.mg-top-xl {
  margin-top: 3.25rem;
}
.landingWrap {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  grid-gap: 2rem;
}
.landingWrap h1 {
  grid-column: 1/5;
}
.landingWrap .card {
  grid-column: 1/5;
}
@media only screen and (min-width: 1024px) {
  .landingWrap .card {
    grid-column: 2/4;
  }
}
.card {
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  position: relative;
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
  border: solid 1px #000000;
  padding: 1em;
}
.card.dark {
  border: solid 1px #2C2C30;
  background: #2C2C30;
}
.button-base {
  background-color: #000000;
  border: 1px solid transparent;
  border-radius: 6px;
  color: #ffffff;
  min-height: 44px;
  transition: all 0.2s ease-in-out;
  display: inline-block;
  position: relative;
  cursor: pointer;
  font-size: 1rem;
  padding: 1em 1.25em 1em 1.25em;
}
.button-base:disabled {
  background-color: #95959D;
  border-color: #95959D;
  color: #494950;
  cursor: default;
}
.button-base:focus {
  outline: solid 2px #1A53F3;
  outline-offset: -2px;
}
.button-base.full-width {
  width: 100%;
}
.button-base.small {
  font-size: 0.875rem;
  padding: 0.5em 1.25em 0.5em 1.25em;
}
.button-base.large {
  font-size: 1.25rem;
  padding: 0.75em 1.25em 0.75em 1.25em;
}
.button-base.icon {
  display: flex;
}
.button-base.icon figure {
  flex: 0 0 auto;
}
.button-base.icon span {
  flex: 1 1 auto;
}
.button-base.primary {
  background-color: #1A53F3;
  color: #ffffff;
}
.button-base.primary:hover,
.button-base.primary:active {
  background-color: #0b3ecf;
}
.button-base.primary:disabled {
  background-color: #95959D;
  border-color: #95959D;
  color: #494950;
  cursor: default;
}
.button-base.primary.ghost {
  background-color: transparent;
  border: 1px solid #1A53F3;
  color: #1A53F3;
}
.button-base.primary.ghost:hover,
.button-base.primary.ghost:active {
  background-color: hsl(240, 4%, 90%);
}
.button-base.primary.ghost:disabled {
  background-color: #95959D;
  border-color: #95959D;
  color: #494950;
  cursor: default;
}
.button-base.secondary {
  background-color: #1AF3DA;
  color: #000000;
}
.button-base.secondary:hover,
.button-base.secondary:active {
  background-color: #0bcfb9;
}
.button-base.secondary:disabled {
  background-color: #95959D;
  border-color: #95959D;
  color: #494950;
  cursor: default;
}
.button-base.secondary.ghost {
  background-color: transparent;
  border: 1px solid #1AF3DA;
  color: #1AF3DA;
}
.button-base.secondary.ghost:hover,
.button-base.secondary.ghost:active {
  background-color: hsl(240, 4%, 90%);
}
.button-base.secondary.ghost:disabled {
  background-color: #95959D;
  border-color: #95959D;
  color: #494950;
  cursor: default;
}
.button-base.danger {
  background-color: #E9512B;
  color: #000000;
}
.button-base.danger:hover,
.button-base.danger:active {
  background-color: #cc3a15;
}
.button-base.danger:disabled {
  background-color: #95959D;
  border-color: #95959D;
  color: #494950;
  cursor: default;
}
.button-base.twitter {
  background-color: #1da1f2;
  color: #ffffff;
}
.button-base.twitter:hover,
.button-base.twitter:active {
  background-color: #0d95e8;
}
.button-base.twitter:disabled {
  background-color: #95959D;
  border-color: #95959D;
  color: #494950;
  cursor: default;
}
.button-base.discord {
  background-color: #7289DA;
  color: #ffffff;
}
.button-base.discord:hover,
.button-base.discord:active {
  background-color: #5e78d5;
}
.button-base.discord:disabled {
  background-color: #95959D;
  border-color: #95959D;
  color: #494950;
  cursor: default;
}
.button-base.facebook {
  background-color: #1877f2;
  color: #ffffff;
}
.button-base.facebook:hover,
.button-base.facebook:active {
  background-color: #0d6ae4;
}
.button-base.facebook:disabled {
  background-color: #95959D;
  border-color: #95959D;
  color: #494950;
  cursor: default;
}
.button-base.twitch {
  background-color: #9146ff;
  color: #ffffff;
}
.button-base.twitch:hover,
.button-base.twitch:active {
  background-color: #822cff;
}
.button-base.twitch:disabled {
  background-color: #95959D;
  border-color: #95959D;
  color: #494950;
  cursor: default;
}
body {
  color: #ffffff;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1em;
  line-height: 1.5;
  background: #151518;
}
.content {
  margin: 0 auto;
  padding: 1.25rem 1rem 1.25rem 1rem;
}
@media only screen and (min-width: 1280px) {
  .content {
    width: 1280px;
  }
}
