#nova .bg-logo svg {
  width: 120px;
  margin-left: 20px;
}
#nova .bg-logo .logo-s {
  fill: hsl(224, 90%, 53%);
}
#nova .bg-logo .logo-chevron {
  fill: hsl(0, 0%, 100%);
}
#nova .bg-logo .logo-text {
  fill: hsl(0, 0%, 100%);
}
