@import './_variables.less';
@import './_mixins.less';

.user-account {
    display: grid;
    grid-gap: 2rem;
    grid-template:
        "headline" auto
        "photo" auto
        "fields" auto
        ~'/ 1fr';

    h2 {
        grid-area: headline;
    }

    .profile-image-edit {
        grid-area: photo;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .image-edit-button {
        display: flex;
        flex-direction: column;
        margin-left: 2rem;
    }

    .edit-profile {
        grid-area: fields;
    }

    .media(@min-tablet, {
        grid-template:
            "headline headline" auto
            "photo photo" auto
            "fields ." auto
            ~'/ 1fr 1fr';
    });
}

