@import (reference)  './_variables.less';
@import (reference) './_mixins.less';

.user-account {
    display: grid;
    grid-gap: 2.5rem;
    grid-template-columns: 1fr 1fr;

    > * {
        grid-column: ~'1/-1';
    }

    .image-edit-button {
        display: flex;
        flex-direction: column;
        margin-left: 2rem;
    }

    .media(@min-desktop, {
        .edit-profile {
            grid-column: ~'1/2';
        }

        .profile-image-edit {
            grid-column: ~'1/2';
        }
    });
}

