@import './reset.less';
@import './typography.less';
@import './_variables.less';
@import './_mixins.less';
@import './utilities.less';

// sign up landing page
@import './landing.less';

// components
@import './components/card.less';
@import './components/button.less';

// Bootstrap
// @import '~bootstrap/scss/bootstrap';

// @import 'tailwind';

body {
    color: @white;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 1em;
    line-height: @baseLineHeight;
    background: @body-bg;
}

// content will span full width of page with standard padding on each side
// aligns with navbar and breadcrumb
// above 1440px will have set width
.content {
    margin: 0 auto;
    .px-rem-padding(20, 16, 20, 16);
}

.media(@min-lg-desktop, {
    .content {
        width: @lg-desktop;
    }
});
