@import (reference)  './_variables.less';
@import (reference) './_mixins.less';

.dashboard-wrap {
    grid-column: ~'1/-1';
    display: grid;

    .leaderboard-table tr {
        text-align: left;
    }

}

