@import (reference)  './_variables.less';
@import (reference) './_mixins.less';

.stock-cards-wrap {
    grid-column: ~'1/-1';
    grid-row: ~'2/3';

    .stock-cards {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: minmax(100px, max-content);
        grid-gap: 2rem;
    }

}

.user-details {
    grid-column: ~'1/-1';
    grid-row: ~'1/2';
}

.media(@min-tablet, {
    .stock-cards-wrap {

        .stock-cards {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: minmax(100px, max-content);
            grid-gap: 2rem;
        }
    }

});

.media(@min-desktop, {
    .stock-cards-wrap {
        grid-column: ~'1/7';
        grid-row: ~'1/2';
    }

    .user-details {
        grid-column: ~'7/9';
        grid-row: ~'1/2';
    }

});

.media(@min-lg-desktop, {
    // might want this
    // .stock-cards-wrap {
    //     .stock-cards {
    //         display: grid;
    //         grid-template-columns: repeat(3, 1fr);
    //         grid-template-rows: minmax(100px, max-content);
    //         grid-gap: 2rem;
    //     }
    // }
});