@import './_variables.less';
@import './_mixins.less';

.app-wrapper {
    display: grid;
    grid-template:
        "aside" 60px
        "content" auto
        "footer" 50px
        ~'/ auto';

    // kind of a spacer element?
    // header {
    //     grid-area: header;
    // }

    // toggle nav
    aside {
        grid-area: aside;
        position: sticky;
        top: 0;
        padding-left: 1rem;
        z-index: 2;
        display: flex;
        align-items: center;
        background: @body-bg;
    }

    .logo {
        color: @white;
        text-transform: uppercase;
        margin-left: 2rem;
        font-weight: 700;

        // placeholder untill we render a smaller img
        &.mini {
            display: none;
        }
    }

    .sidebar-nav {
        background: @body-bg;
        padding: 2rem 1rem;
        overflow: auto;
        transition: all .3s ease-in-out;
        top: 0;
        bottom: 0;
        min-height: 100vh;
        position: fixed;
        width: 300px;
        left: -300px;
        top: 60px;

        &.open {
            transform: translateX(300px);
        }

        .sidebar-nav-list {
            li {
                margin-bottom: 1rem;
            }

            figure {
                margin-right: 1rem;
            }

            .item-wrap {
                color: @white;
                display: flex;
                align-items: center;
            }
        }

        .profile-wrap {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-bottom: 2rem;
            .px-rem(font-size, 14);

            div {
                display: flex;
                flex-direction: column;
                margin-left: 1rem;
                flex: 1 1 75%;
            }

            .profile-pic {
                // -webkit-clip-path: circle(50% at 50% 50%);
                // clip-path: circle(50% at 50% 50%);
                // width: 45%;
                border-radius: 8px;
                flex: 0 0 42px;
            }
        }
    }

    .app-content {
        grid-area: content;
        background-color: @body-overlay-bg;
        padding: 2rem;
    }

    footer {
        grid-area: footer;
        background-color: @body-overlay-bg;
    }


    .media(@min-tablet, {
        grid-template:
            "aside ." 60px
            "sidebar content" auto
            "sidebar footer" 50px
            ~'/ auto 9fr';

        .sidebar-nav {
            grid-area: sidebar;
            position: unset;
            left: 0;
            top: 0;
            transition: width ease-in-out 160ms;

            &.open {
                grid-area: sidebar;
                transform: none;
                width: 300px;
            }

            &.closed {
                width: 70px;
                display: flex;
                flex-direction: column;
                align-items: center;

                .sidebar-nav-list {
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    // nav item img
                    figure {
                        margin-right: 0;
                    }

                    // nav item text
                    span {
                        display: none;
                    }
                }

                .profile-wrap {
                    display: block;

                    .profile-pic {
                        max-width: 42px;
                    }

                    .profile-name {
                        display: none;
                    }
                }
            }
        }

        .app-content {
            border-radius: 30px 0 0 0;
        }
    });
}