@import (reference)  './_variables.less';
@import (reference) './_mixins.less';

// animations

.sidebar-nav {
    &.open {
        transition:
            visibility 160ms ease-in-out 100ms,
            width 160ms ease-in-out 0s;
    }

    &.closed {
        transition:
            visibility 160ms ease-in-out 0s,
            width 160ms ease-in-out 10ms;
    }
}

.app-wrapper {
    min-height: 100%;
    display: grid;
    grid-template:
        "aside" 70px
        "content" auto
        "footer" minmax(70px, min-content)
        ~'/ auto';

    // handling with media queries to reduce layout render bouncing
    aside {
        padding: 0.5rem 1rem;
        display: flex;
        align-items: center;

        .logo {
            margin-left: auto;
        }
    }

    #mobile-collapse-btn {
        display: block;
    }

    // toggle nav
    aside {
        grid-area: aside;
        position: sticky;
        top: 0;
        z-index: 6;
        background: @body-overlay-bg;
        padding: 1rem 0 1rem 0.5rem;

        &.mini {
            padding: 1rem 0;
        }
    }

    .logo {
        display: flex;

        svg {
            height: 50px;            
        }

        // container positioning
        &.mini {
            justify-content: center;
        }

        // container positioning
        &.full {
            justify-content: left;
        }

        // stockwatch S
        &-mini {
            width: 50px;
        }

        // stockwatch text
        &-full {
            width: 120px
        }
    }

    .sidebar-nav {
        background: @body-overlay-bg;
        color: @white;
        padding: 2rem 1rem;
        top: 0;
        bottom: 0;
        min-height: 100vh;
        position: fixed;
        width: 250px;
        left: -250px;
        top: 60px;
        z-index: 5;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;

        &.open {
            transform: translateX(250px);
        }

        .sidebar-nav-list {
            li {
                margin-bottom: 1rem;
            }

            .last-item {
                border-bottom: solid 1px @border;
                padding-bottom: 1rem;
            }

            figure {
                margin-right: 1rem;

                // svg {
                //     color: @pink;
                // }
            }

            .item-wrap {
                color: @white;
                display: flex;
                align-items: center;
            }

            .collapse-btn-wrap {
                margin-left: -1rem;
                margin-right: -1rem;
                background-color: @pink-overlay;

                svg {
                    color: @pink;
                }

                button {
                    padding: 0 1rem;
                    border-radius: 0;
                    width: 100%;
                    text-align: left;
                    background-color: @pink-overlay;

                    &:hover {
                        background-color: @pink;

                        svg {
                            color: @white;
                            transition: @transition;
                        }
                    }
                }
            }
        }

        .profile-wrap {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-bottom: 2rem;
            .px-rem(font-size, 14);

            div {
                display: flex;
                flex-direction: column;
                flex: 1 1 75%;
            }

            .profile-pic {
                -webkit-clip-path: circle(50% at 50% 50%);
                clip-path: circle(50% at 50% 50%);
                margin-right: 0.7rem;
            }
        }

    }

    .app-content {
        grid-area: content;
        align-content: start;
        // background-color: @body-bg;
        display: grid;
        // main content grid def
        grid-template-columns: repeat(8, 1fr);
        grid-gap: 1rem;
        padding: 1rem 1rem 0 1rem;
    }

    footer {
        grid-area: footer;
        background-color: @body-bg;
        .px-rem-padding(16, 16, 8, 16);
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .font-unit-rem(14);

        p, a {
           color: @white;
           .font-unit-rem(14);
        }

        ul {
            display: flex;
            flex-wrap: wrap;

            li {
                margin-right: 1rem;
            }
        }
    }


    .media(@min-tablet, {
        grid-template:
            "aside ." 70px
            "sidebar content" auto
            "sidebar footer" minmax(70px, min-content)
            ~'/ auto 9fr';

        // reset mobile design
        aside {
            position: relative;
            padding: 1rem 0 1rem 0.5rem;
            display: block;

            .logo {
                margin: unset;
            }
        }

        #mobile-collapse-btn {
            display: none;
        }

        .sidebar-nav {
            grid-area: sidebar;
            position: unset;
            left: 0;
            top: 0;

            &.open {
                grid-area: sidebar;
                transform: none;
                width: 250px;
            }

            &.closed {
                width: 70px;
                display: flex;
                flex-direction: column;
                align-items: center;

                .sidebar-nav-list {
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    // nav item img
                    figure {
                        margin-right: 0;
                    }

                    // nav item text
                    span {
                        visibility: hidden;
                        width: 0;
                        height: 0;
                    }
                }

                .profile-wrap {
                    display: block;

                    .profile-pic {
                        margin-right: 0;
                    }

                    .profile-name {
                        display: none;
                    }
                }

                .sidebar-collapse {
                    details {
                        border: 0;

                        .chevron {
                            .px-rem(margin-bottom, 16);
                            span {
                                visibility: hidden;
                                width: 0;
                                height: 0;
                            }
                        }
                    }
                }
            }
        }

        .app-content {
            border-radius: 30px 0 0 0;
            padding: 0 2rem 2rem 2rem;
        }
    });
}
