@import (reference)  './_variables.less';
@import (reference) './_mixins.less';

.leaderboard-wrap {
    grid-column: ~'1/-1';
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(3, min-content);

    h3 {
        grid-column: ~'1/-1';
        grid-row: ~'1/2';
    }

    .perfect-play {
        grid-column: ~'1/-1';
        grid-row: ~'2/3';
        display: grid;
        border: solid 1px @gray-hint;
        box-shadow: 1px 1px 0px @gray-hint;
        grid-template-columns: 60px auto;
        grid-template-rows: min-content 60px;
        grid-gap: .25rem 1rem;
        // use card class later
        border-radius: @border-radius;
        position: relative;
        background: @white;
        .px-rem(padding, 12);
        .px-rem(margin-bottom, 16);

        .heading {
            grid-column: ~'1/-1';
        }

        .hg-img {
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    .leader-grid {
        grid-column: ~'1/-1';
        grid-row: ~'3/4';
        overflow-x: auto;

        .input {
            position: sticky;
            left: 0;
        }
    }

    .table-wrap {
        overflow-x: auto;
    }

    .media(@min-tablet, {
        h3 {
            grid-column: ~'1/6';
            grid-row: ~'1/2';
        }

        .perfect-play {
            grid-column: ~'7/9';
            grid-row: ~'1/2';
            margin-bottom: 0;
        }

        .leader-grid {
            grid-row: ~'2/3';
        }
    });
}

.leaderboard-table {
    table-layout: auto;
    border-collapse: collapse;

    th, td, tr {
        .px-rem-padding(8, 16, 8, 16);
        vertical-align: middle;
    }

    tr {
        border-bottom: 1px solid @gray-barely;
        text-align: center;
    }

    thead {
        .font-unit-rem(14);
        background-color: @gray-barely;
    }

    .rank-sort {
        min-width: 85px;
    }

    .networth {
        font-variation-settings: @base-font-weight-bold;
    }

    .user-row {
        display: flex;
        flex-direction: row;
        align-items: center;
        border: none;

        span {
            .px-rem(margin-right, 8);
        }
    }

    .hg-img-table {
        width: 30px;
        height: 30px;
        border: solid 1px @border;
        vertical-align: middle;
        border-radius: @border-radius;
    }

    .rank-num {
        display: inline-block;
        width: 1.5em;
        height: 1.5em;
        line-height: 1.5;
        color: #fff;
        text-align: center;
        font-style: normal;
        border-radius: 50%;
        font-variation-settings: @base-font-weight-bold;
        .font-unit-rem(16);
    }

    .rank-1 {
        background-color: @rank-1;
    }

    .rank-2 {
        background-color: @rank-2;
    }

    .rank-3 {
        background-color: @rank-3;
    }

    .rank-4 {
        background-color: @rank-4;
    }

    .rank-5 {
        background-color: @rank-5;
    }
}

.pagination {
    display: flex;
    flex-direction: row;
}

.page-link {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #007bff;
    background-color: #fff;
    border: 1px solid #dee2e6;

    svg {
        vertical-align: middle;
    }
}