@import (reference)  './_variables.less';
@import (reference) './_mixins.less';

.leaderboard-wrap {
    grid-column: ~'1/-1';
    overflow-x: auto;
}

.leaderboard-table {
    table-layout: auto;
    border-collapse: collapse;

    th, td, tr {
        .px-rem-padding(8, 16, 8, 16);
    }

    tr {
        border-bottom: 1px solid @gray-barely;
    }

    thead {
        .font-unit-rem(14);
        background-color: @gray-barely;
    }

    .rank-sort {
        display: flex;
    }

    .user-row {
        display: flex;
        flex-direction: row;
        align-items: center;
        border: none;

        span {
            .px-rem(margin-right, 8);
        }
    }

    .rank-num {
        display: inline-block;
        width: 1.5em;
        height: 1.5em;
        line-height: 1.5;
        color: #fff;
        text-align: center;
        font-style: normal;
        border-radius: 50%;
        font-variation-settings: @base-font-weight-bold;
        .font-unit-rem(16);
    }

    .rank-1 {
        background-color: @rank-1;
    }

    .rank-2 {
        background-color: @rank-2;
    }

    .rank-3 {
        background-color: @rank-3;
    }

    .rank-4 {
        background-color: @rank-4;
    }

    .rank-5 {
        background-color: @rank-5;
    }

}