@import (reference)  './_variables.less';

.maintenance {
    grid-column: ~'1/-1';

    .logo-text {
        fill: @black;
    }

    svg {
        margin-bottom: 2rem;
        width: 300px;
    }

    .media(@min-tablet, {
        grid-column: ~'2/4';
    });
}

