@import (reference)  './_variables.less';
@import (reference) './_mixins.less';

:root {

}

.profile-page-wrap {
    --select-width: 200px;

    grid-column: ~'1/-1';
    display: grid;
    grid-template-columns: minmax(min-content, 300px) auto;
    margin-left: -2rem;

    .profile-details {
        grid-column: ~'1/2';
        text-align: center;
    }

    .stats {
        text-align: center;
        .px-rem(padding, 10);

        h1 {
            .fluid-typography-rem(@small-screen, @large-screen, @base, 1.5rem, 3rem, 1.75rem);
        }
    }

    .weekly-stats-wrap {
        border: solid 1px @primary-blue;
        box-shadow: 1px 1px 0px @primary-blue;
        border-radius: @border-radius;
        padding: 1rem;
    }

    .stats-summary {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }



    .profile-stats-wrap {
        // grid-column: ~'1/-1';
        // grid-row: ~'1/2';
        // padding: 1rem;

        .week-picker-wrap {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;

            h3 {
                margin-right: auto;
                margin-bottom: 0;
            }

            select {
                border-radius: 0;
            }

            .next-button {
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
            }

            .prev-button {
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
            }
        }

        .stats-cards {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(175px, auto));
            //grid-template-rows: minmax(100px, max-content);
            grid-gap: 1rem;
        }

    }

    .stockcard {
        grid-template-columns: 76px auto;

        .hg-details {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: baseline;

            h4 {
                font-variation-settings: @base-font-weight-normal;
            }

            .price-change-wrap {
                margin-left: 10px;
            }

        }

        .user-holdings {
            grid-column: ~'2/3';
            display: flex;
            flex-direction: column;

            .num {
                font-variation-settings: @base-font-weight-bold;
                .font-unit-rem(26);
                .px-rem(margin-right, 2);
            }

            .word {
                font-variation-settings: "wght" 400;
                font-size: 1rem;
                letter-spacing: .005em;

                &.small-price {
                    .font-unit-rem(14);
                }
            }
        }
    }


    // .media(@min-tablet, {
    //     .dash-cards-wrap {
    //         .dash-cards {
    //             // grid-template-columns: repeat(auto-fill, minmax(250px, auto));
    //             grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    //             grid-template-rows: minmax(100px, max-content);
    //         }
    //     }
    // });

    .media(@min-desktop, {

       .stats {
            .px-rem-margin(0, 0, 32, 0);
            .px-rem(padding, 16);
        }

    });

}

