@import (reference) "./_variables.less";
@import (reference) "./_mixins.less";

.profile-page-wrap {
    --select-width: 200px;

    grid-column: ~"1/-1";
    display: grid;
    grid-template-columns: 1fr;

    .profile-details {
        text-align: center;
        position: sticky;
        top: 70px;
        background: @white;
        border-bottom: solid 1px @primary-blue;
        z-index: 1;
        padding-top: 1rem;
        margin-left: -1rem;
        margin-right: -1rem;

        .avatar {
            height: 30px;
            width: 30px;
        }
    }

    .profile-header-stats {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        gap: 0.5rem;
        padding-bottom: 1rem;
    }

    .profile-header-avatar {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
        padding-bottom: 1rem;

        p {
            margin-bottom: 0;
        }
    }

    .stats {
        text-align: center;
        .px-rem(padding, 10);

        h1 {
            .fluid-typography-rem(
                @small-screen,
                @large-screen,
                @base,
                1.5rem,
                3rem,
                1.75rem
            );
        }
    }

    .weekly-stats-wrap {
        border: solid 1px @primary-blue;
        box-shadow: 1px 1px 0px @primary-blue;
        border-radius: @border-radius;
        padding: 1rem;
    }

    .stats-summary {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .stat-diff-icon {
        .font-unit-rem(12);
    }

    .stat-change-wrap {
        align-items: baseline;

        p {
            line-height: 1;
        }

        &.green {
            color: darken(@green, 5%);
        }

        &.red {
            color: darken(@red, 8%);
        }
    }

    .profile-stats-wrap {
        .week-picker-wrap {
            display: flex;
            flex-direction: column;

            .week-picker {
                display: flex;
                flex-direction: row;

                select {
                    border-radius: 0;
                    flex: 1 1 auto;
                }

                .next-button {
                    border-top-left-radius: 0;
                    border-bottom-left-radius: 0;
                }

                .prev-button {
                    border-top-right-radius: 0;
                    border-bottom-right-radius: 0;
                }
            }
        }

        .stats-cards {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(175px, auto));
            grid-gap: 1rem;
        }
    }

    .stockcard {
        grid-template-columns: 76px auto;

        .hg-details {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: baseline;

            h4 {
                font-variation-settings: @base-font-weight-normal;
            }

            .price-change-wrap {
                margin-left: 10px;
            }
        }

        .user-holdings {
            grid-column: ~"2/3";
            display: flex;
            flex-direction: column;

            .num {
                font-variation-settings: @base-font-weight-bold;
                .font-unit-rem(26);
                .px-rem(margin-right, 2);
            }

            .word {
                font-variation-settings: "wght" 400;
                font-size: 1rem;
                letter-spacing: 0.005em;

                &.small-price {
                    .font-unit-rem(14);
                }
            }
        }
    }
}

.media(
    @min-tablet,
    {.profile-page-wrap {grid-template-columns: minmax(min-content, 300px) auto;
        margin-left: -2rem; .profile-details {grid-column: ~"1/2" ; text-align: center;
        position: relative; top: unset; border-bottom: none; z-index: 1; padding-top:
        0; margin-left: unset; margin-right: unset; padding: 1rem; .avatar {height:
        60px; width: 60px;}} .profile-header-stats {flex-direction: column; gap:
        0.5rem;} .profile-header-avatar {flex-direction: column; align-items: center;
        justify-content: center; gap: 0.5rem; padding-bottom: 1rem;}}}
);

.media(
    @min-desktop,
    {.profile-page-wrap {.stats {.px-rem-margin(0, 0, 32, 0) ; .px-rem(
            padding,
            16
        ) ;} .profile-stats-wrap {.week-picker-wrap {display: flex;
        flex-direction: row; align-items: center; h3 {margin-right: auto; margin-bottom:
        0;}}}}}
);
