@import (reference)  './_variables.less';
@import (reference) './_mixins.less';


.projection-wrap {
    grid-column: ~'1/-1';
}

.projection-card {
    display: grid;
    border: solid 1px @gray-hint;
    box-shadow: 1px 1px 0px @gray-hint;
    grid-template-columns: 85px 1fr;
    grid-gap: .25rem 1rem;
    grid-auto-flow: dense;
    overflow-x: auto;
    .px-rem(margin-bottom, 32);

    // use card class later
    border-radius: @border-radius;
    position: relative;
    background: @white;
    .px-rem(padding, 12);

    h5 {
        margin-bottom: 0;
        font-variation-settings: @base-font-weight-bold;
    }

    .hg-img {
        grid-column: ~'1/2';
        grid-row: ~'2/3';
        border: solid 1px @border;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .hg-details {
        grid-column: ~'1/-1';
        grid-row: ~'1/2';
        position: sticky;
        left: 0;
    }

    .rating-wrap {
        align-items: baseline;

        .hg-star {
            color: @yellow;
            .px-rem(margin-right, 4);
        }

        .hg-star-rating {
            font-variation-settings: @base-font-weight-bold;
            .px-rem(margin-right, 2);
        }

        .hg-star-outof {
            font-variation-settings: "wght" 400;
            font-size: 1rem;
            letter-spacing: .005em;
        }

        .num-wrap {
            align-items: baseline;
        }
    }

    .this-week {
        grid-column: ~'2/3';
        grid-row: ~'2/3';
        align-items: flex-end;
        justify-content: space-between;
        position: sticky;
        left: 0;
    }

    .next-week {
        grid-column: ~'1/-1';
        grid-row: ~'3/4';
    }

    .this-week-details {
        > * {
            .px-rem(margin-right, 16);
        }
    }

    .rating-table {
        display: grid;
        grid-template-columns: repeat(10, minmax(max-content, auto));

        > *:nth-of-type(even):not(.dt) {
            background: @gray-hint;
        }

        dd {
            text-align: center;
            padding: 0 1rem;
            color: @black;
        }
    }

    // .media(@min-desktop, {
    //     grid-template-columns: 85px min-content auto;
    // });

    .media(@min-lg-desktop, {
        grid-template-columns: 85px max-content auto;

        .next-week {
            grid-column: ~'3/-1';
            grid-row: ~'2/3';
        }
    });
}
