@import (reference)  './_variables.less';
@import (reference) './_mixins.less';

/** fluid-typography breaks down like this:
* 320px (min)
* 1440px (max)
* 16px (base)
* min-font
* max-font
* fallback font size
*/

// mixin
.fluid-typography-rem(@min-screen: 320px, @max-screen: 1600px, @base-font: 16px, @min-font, @max-font, @fallbackFontSize) {
    // min size font
    font-size: @min-font;

    @media screen and (min-width: unit((@min-screen / @base-font), ~'rem')) {
        /* stylelint-disable */
        font-size: ~'@{fallbackFontSize}';
        font-size: calc(
            @min-font ~' + ' unit(@max-font - @min-font) ~' * ((100vw - '
                unit((@min-screen / @base-font), ~'rem') ~') /' unit(
                    (@max-screen / @base-font) - (@min-screen / @base-font)
                ) ~')'
        );
        /* stylelint-enable */
    }

    @media screen and (min-width: unit((@max-screen / @base-font), ~'rem')) {
        // max size font
        font-size: @max-font;
    }
}

h1,
.header1 {
    color: @gray-01;
    // get this thing working someday
    // color: contrast(@body-bg, black, white, 43%);
    line-height: @smallerLineHeight;
    font-variation-settings: @base-font-weight-bold;
    margin-top: 0;
    margin-bottom: @space-xs;
    .fluid-typography-rem(@small-screen, @large-screen, @base, 2.5rem, 3rem, 1.75rem);
}

h2,
.header2 {
    color: @gray-01;
    line-height: @smallerLineHeight;
    font-variation-settings: @base-font-weight-bold;
    margin-top: 0;
    margin-bottom: @space-xs;
    .fluid-typography-rem(@small-screen, @large-screen, @base, 2rem, 2.441rem, 1.4rem);
}

h3,
.header3 {
    color: @gray-01;
    line-height: @smallerLineHeight;
    font-variation-settings: @base-font-weight-bold;
    margin-top: 0;
    margin-bottom: @space-xs;
    .fluid-typography-rem(@small-screen, @large-screen, @base, 1.2rem, 1.953rem, 1.3rem);
}

h4,
.header4 {
    color: @gray-01;
    line-height: @smallerLineHeight;
    font-variation-settings: @base-font-weight-bold;
    margin-top: 0;
    margin-bottom: @space-xs;
    .fluid-typography-rem(@small-screen, @large-screen, @base, 1rem, 1.563rem, 1rem);
}

h5,
.header5 {
    color: @gray-01;
    line-height: @baseLineHeight;
    margin-top: 0;
    margin-bottom: @space-xs;
    .font-unit-rem(16);
}

h6,
.header6 {
    color: @gray-01;
    line-height: @baseLineHeight;
    margin-top: 0;
    margin-bottom: @space-xs;
    .font-unit-rem(16);
}

p,
label {
    // color: @gray-01;
    line-height: @baseLineHeight;
    margin-bottom: @space-xs;
    margin-top: 0;
    .font-unit-rem(16);

    &.bodySM {
        .font-unit-rem(14);
    }

    &.bodyLight {
        color: @gray-lightest;
    }
}

a {
    color: @link;
    text-decoration: none;

    &:hover,
    &:focus,
    &:active {
        color: @link-hover;
        text-decoration: none;
        transition: @transition;
    }
}

.text-center {
    text-align: center;
}