@import '../_variables.less';
@import '../_mixins.less';

.card {
    box-shadow: 0 10px 15px -3px rgba(0,0,0,.1),0 4px 6px -2px rgba(0,0,0,.05);
    border-radius: @border-radius;
    position: relative;
	display: flex;
	flex-direction: column;
	word-wrap: break-word;
    background: @white;
    .px-rem(padding, 16);

    &.duo {
        display: grid;
        grid-template-columns: 1fr;
        padding: 0;

        > div {
            .px-rem(padding, 16);
        }
    }

    &.dark {
        background: @body-overlay-bg;
    }

    &.deep {
        .px-rem(padding, 32);
    }

    .media(@min-tablet, {

        &.deep {
            .px-rem(padding, 42);
        }

        &.duo {
            grid-template-columns: 1fr 1fr;

            > div {
                .px-rem(padding, 32);
            }
        }
    });

    .media(@min-desktop, {
        &.duo {
            grid-template-columns: auto .75fr;
        }
    });
}