@import '../_variables.less';
@import '../_mixins.less';

.card {
    box-shadow: 0 10px 15px -3px rgba(0,0,0,.1),0 4px 6px -2px rgba(0,0,0,.05);
    border-radius: @border-radius;
    position: relative;
	display: flex;
	flex-direction: column;
	word-wrap: break-word;
    border: solid 1px @black;
    .px-em(padding, 16);

    &.dark {
        border: solid 1px @body-overlay-bg;
        background: @body-overlay-bg;
    }
}