@import (reference) '../_variables.less';
@import (reference) '../_mixins.less';

.card {
    // box-shadow: @shadow-md;
    border-radius: @border-radius;
    position: relative;
	display: flex;
	flex-direction: column;
	word-wrap: break-word;
    background: @white;
    .px-rem(padding, 12);

    &.duo {
        display: grid;
        grid-template-columns: 1fr;
        padding: 0;

        > div {
            .px-rem(padding, 16);
        }
    }

    &.dark {
        background: @body-overlay-bg;
    }

    &.deep {
        .px-rem(padding, 32);
    }

    .media(@min-tablet, {

        &.deep {
            .px-rem(padding, 42);
        }

        &.duo {
            grid-template-columns: 1fr 1fr;

            > div {
                .px-rem(padding, 32);
            }
        }
    });

    .media(@min-desktop, {
        &.duo {
            grid-template-columns: minmax(500px, max-content) auto;
        }
    });
}