@import (reference) '../_variables.less';
@import (reference) '../_mixins.less';

.stockcard {
    display: grid;
    border: solid 1px @gray-hint;
    box-shadow: 1px 1px 0px @gray-hint;
    grid-template-columns: 80px 1fr auto;
    grid-gap: .5rem;
    grid-auto-flow: dense;
    overflow: hidden;

    // inactive player
    &.inactive {
        box-shadow: none;

        &:after {
            content: '';
            background-color: @gray-hint;
            opacity: 55%;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
        }
    }

    // this is not scalable katie!
    h1, h2, h3, h4, h5, h6, p, label {
        // color: @white;
        margin-bottom: 0;
    }

    .hg-img {
        grid-column: ~'1/2';
        border: solid 1px @border;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .hg-details {
        grid-column: ~'2/3';
        // justify-content: space-between;
    }

    .rating-wrap {
        align-items: baseline;

        .hg-star {
            color: @yellow;
            .px-rem(margin-right, 4);
        }

        .hg-star-rating {
            font-variation-settings: @base-font-weight-bold;
            .px-rem(margin-right, 2);
        }

        .num-wrap {
            line-height: 1;
        }
    }

    .hg-price {
        grid-column: ~'3/4';
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        .px-rem(padding, 8);
        border-radius: @border-radius;

        &.green-bg {
            background-color: @green-01;
        }

        &.red-bg {
            background-color: @red-01;
        }
    }

    .input-wrap {
        grid-column: ~'1 / -1';
        grid-row: ~'2 / 3';
        display: flex;
        flex-direction: row;
        align-items: center;

        .buy {
            .px-rem(margin-right, 8);
            white-space: nowrap;
        }

        .sell {
            .px-rem(margin-left, 8);
            white-space: nowrap;
        }
    }

    .btn-wrap {
        grid-column: ~'1 / -1';
        grid-row: ~'3 / 4';
        place-content: space-between;
        display: flex;
    }

    .price-diff {
        .font-unit-rem(14);
    }

    .price-diff-icon {
        .px-rem(margin-right, 4);
    }

    .price-wrap {
        // background: @yellow;
        border-radius: @border-radius;
        .px-em-padding(8, 16, 8, 16);
    }

    .price-change-wrap {
        align-items: baseline;

        p {
            line-height: 1;
        }

        svg {
            .font-unit-rem(12);
        }

        &.green {
            color: @green;
        }

        &.red {
            color: @red;
        }

        &.neutral {
            color: @gray-light;
        }
    }
}
